# {{.RunTaskName}}

Boilerlate Run Task for Terraform Cloud or Terraform Enterprise.

## Usage

To build and run locally:

```bash
$ go mod tidy

$ go build -o {{.RunTaskName}} cmd/main.go

$ ./{{.RunTaskName}}
```
To build and run in a container:

```bash
$ podman build . -t {{.RunTaskName}}

$ podman run -p 8080:8080 -p 8443:8443 {{.RunTaskName}}:latest  
```

## Developing

Logic to complete the Run Task implementation should be added to the `internal` package, and referenced in `internal/controller/run_task_controller.go`

The controller is called by the `main.go` and runs the server responsible for handling incoming requests.